MONGO_URL = mongodb://localhost:27017
DEV_PORT = 8080;
PROD_PORT = 8000;
# ENV = "dev";
ENV = "prod";

JWT_SECRET= "secret is secret wont be told"

JWT_EXPIRES_IN=1h

PROD_ORIGIN = "http://localhost:8000";
DEV_ORIGIN = "http://localhost:8080";